In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
harvard_corpus = pd.read_excel('harvard_copus_excel.xlsx')
harvard_corpus.head()

,Entry,Source,Positiv,Negativ,Pstv,Affil,Ngtv,Hostile,Strong,Power,...,Anomie,NegAff,PosAff,SureLw,If,NotLw,TimeSpc,FormLw,Othtags,Defined
0,A,H4Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DET ART,| article: Indefinite singular article--some o...
1,ABANDON,H4Lvd,NaN,Negativ,NaN,NaN,Ngtv,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,|
2,ABANDONMENT,H4,NaN,Negativ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,|
3,ABATE,H4Lvd,NaN,Negativ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUPV,|
4,ABATEMENT,Lvd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Noun,NaN

In [3]:
corpus_cleaning = pd.concat([harvard_corpus['Entry'], harvard_corpus['Positiv'], harvard_corpus['Negativ'], 
                            harvard_corpus['Strong'], harvard_corpus['Power']], axis=1)

In [4]:
cleaning_words = np.array(corpus_cleaning['Entry'])

In [5]:
cleaning_words

array([u'A', u'ABANDON', u'ABANDONMENT', ..., u'ZEST', u'ZINC', u'ZONE'], dtype=object)

In [6]:
def cleaning(array):
    clean_lst = []
    for i in array:
        convert_u_to_str = str(i)
        clean_words = re.sub(r'[^a-zA-Z]+', '', convert_u_to_str )
        clean_lst.append(clean_words.lower())
    return clean_lst
clean_words = cleaning(cleaning_words)
corpus_cleaning['Entry'] = clean_words

In [7]:
corpus_cleaning.head()

         Entry Positiv  Negativ Strong Power
0            a     NaN      NaN    NaN   NaN
1      abandon     NaN  Negativ    NaN   NaN
2  abandonment     NaN  Negativ    NaN   NaN
3        abate     NaN  Negativ    NaN   NaN
4    abatement     NaN      NaN    NaN   NaN

In [ ]:
#corpus_cleaning.to_csv('preprocesing_corpus.csv')

In [13]:
names = {'Entry' : 'Phrase', 'Positiv' : 'Positive', 'Negativ' : 'Negative', 'Strong' : 'Strong', 'Power' : 'Power'}
corpus_v1 = pd.read_csv('preprocesing_corpus.csv')
corpus_v1.rename(columns=names, inplace=True)

In [14]:
def check_dataframe(dataframe, column_list):
    for name in column_list:
        check = dataframe[name].apply(lambda x : 1 if x != '0' else 0)
        dataframe[name] = check
    return dataframe

column_list = ['Positive', 'Negative',  'Strong', 'Power']
corpus_v2 = check_dataframe(corpus_v1, column_list)

In [15]:
corpus_v2['Sentiment'] = np.nan

In [16]:
#corpus_v2.to_csv('preprocessing_corpus2.csv')

In [17]:
final_corpus = pd.read_csv('preprocessing_corpus2.csv')
final_corpus.head()

        Phrase  Positive  Negative  Strong  Power  Sentiment
0            a         0         0       0      0          2
1      abandon         0         1       0      0          1
2  abandonment         0         1       0      0          1
3        abate         0         1       0      0          1
4    abatement         0         0       0      0          2

In [18]:
final_corpus.to_csv('harvard_corpus.csv')