In [1]:
import graphlab as gl
import numpy as np
import pandas as pd

In [2]:
testdata_df = pd.read_csv("test.tsv", sep='\t')
submission_df = pd.read_csv("sampleSubmission.csv")

In [3]:
testdata_df.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [4]:
submission_df.head()

   PhraseId  Sentiment
0    156061          2
1    156062          2
2    156063          2
3    156064          2
4    156065          2

In [5]:
testdata_df['Split_Phrase'] = [[j.lower() for j in x.split()] for x in np.array(testdata_df['Phrase'])]

In [6]:
testdata_df.head()

,PhraseId,SentenceId,Phrase,Split_Phrase
0,156061,8545,An intermittently pleasing but mostly routine ...,"[an, intermittently, pleasing, but, mostly, ro..."
1,156062,8545,An intermittently pleasing but mostly routine ...,"[an, intermittently, pleasing, but, mostly, ro..."
2,156063,8545,An,[an]
3,156064,8545,intermittently pleasing but mostly routine effort,"[intermittently, pleasing, but, mostly, routin..."
4,156065,8545,intermittently pleasing but mostly routine,"[intermittently, pleasing, but, mostly, routine]"

In [7]:
test_sf = gl.SFrame(testdata_df)
test_sf.head()

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\ktcm1\AppData\Local\Temp\graphlab_server_1503124731.log.0

This non-commercial license of GraphLab Create for academic use is assigned to jyh0674@gmail.com and will expire on November 16, 2017.

Columns:
	PhraseId	int
	SentenceId	int
	Phrase	str
	Split_Phrase	list

Rows: 10

Data:
+----------+------------+-------------------------------+
| PhraseId | SentenceId |             Phrase            |
+----------+------------+-------------------------------+
|  156061  |    8545    | An intermittently pleasing... |
|  156062  |    8545    | An intermittently pleasing... |
|  156063  |    8545    |               An              |
|  156064  |    8545    | intermittently pleasing bu... |
|  156065  |    8545    | intermittently pleasing bu... |
|  156066  |    8545    |  intermittently pleasing but  |
|  156067  |    8545    |    intermittently pleasing    |
|  156068  |    8545    |         intermittently        |
|  156069  |    8545    |            pleasing           |
|  156070  |    8545    |              but              |
+----------+------------+-------------------------------+
+-------------------------------+
|          Split_Phrase         |
+-------------------------------+
| [an, intermittently, pleas... |
| [an, intermittently, pleas... |
|              [an]             |
| [intermittently, pleasing,... |
| [intermittently, pleasing,... |
| [intermittently, pleasing,... |
|   [intermittently, pleasing]  |
|        [intermittently]       |
|           [pleasing]          |
|             [but]             |
+-------------------------------+
[10 rows x 4 columns]

In [8]:
def get_stop_words(file = '.\stopwords.txt'):
    with open(file, 'r') as f:
        stopword = f.read().split(',')
    return stopword

stopwords = get_stop_words()

In [9]:
encoder = gl.feature_engineering.TFIDF(excluded_features=stopwords)
testset = encoder.fit_transform(test_sf)

WARNING: Column 'PhraseId' is excluded due to invalid column type (integer).

WARNING: Column 'SentenceId' is excluded due to invalid column type (integer).

In [10]:
final_model = gl.load_model("sentiment_model")

In [11]:
predict = final_model.predict(testset)
result_sf = gl.SFrame({'PhraseId' :test_sf['PhraseId'], 'Sentiment' : predict})
result_sf.head()

Columns:
	PhraseId	int
	Sentiment	int

Rows: 10

Data:
+----------+-----------+
| PhraseId | Sentiment |
+----------+-----------+
|  156061  |     2     |
|  156062  |     2     |
|  156063  |     2     |
|  156064  |     2     |
|  156065  |     2     |
|  156066  |     2     |
|  156067  |     3     |
|  156068  |     2     |
|  156069  |     3     |
|  156070  |     2     |
+----------+-----------+
[10 rows x 2 columns]

In [12]:
#gl.SFrame.export_csv(result_sf, 'submission.csv')

# Kaggle submission result : 0.60579 (First Implementation)

In [13]:
final_model2 = gl.load_model('corpus_model')

In [14]:
predict = final_model2.predict(testset)
result_sf = gl.SFrame({'PhraseId' :test_sf['PhraseId'], 'Sentiment' : predict})
result_sf.head()

Columns:
	PhraseId	int
	Sentiment	int

Rows: 10

Data:
+----------+-----------+
| PhraseId | Sentiment |
+----------+-----------+
|  156061  |     2     |
|  156062  |     2     |
|  156063  |     2     |
|  156064  |     2     |
|  156065  |     2     |
|  156066  |     3     |
|  156067  |     3     |
|  156068  |     2     |
|  156069  |     3     |
|  156070  |     2     |
+----------+-----------+
[10 rows x 2 columns]

In [15]:
#gl.SFrame.export_csv(result_sf, 'submission1.csv')

# Kaggle submission result : 0.59816

In [16]:
final_model3 = gl.load_model('Second_Model')

In [17]:
predict = final_model3.predict(testset)
result_sf = gl.SFrame({'PhraseId' :test_sf['PhraseId'], 'Sentiment' : predict})
result_sf.head()

Columns:
	PhraseId	int
	Sentiment	int

Rows: 10

Data:
+----------+-----------+
| PhraseId | Sentiment |
+----------+-----------+
|  156061  |     2     |
|  156062  |     2     |
|  156063  |     2     |
|  156064  |     2     |
|  156065  |     2     |
|  156066  |     2     |
|  156067  |     3     |
|  156068  |     2     |
|  156069  |     3     |
|  156070  |     2     |
+----------+-----------+
[10 rows x 2 columns]

In [18]:
gl.SFrame.export_csv(result_sf, 'submission2.csv')

# Kaggle submission result : 0.59404